# Import required modules

In [1]:
import pymc3
import pandas as pd
import numpy as np

/Users/ally/.local/share/virtualenvs/hog-TxCN4_y4/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

Next import the curated mutation data table, including the impact statistics from mutfunc. Then process the data to prepare it for analysis.

In [5]:
impact = pd.read_table('data/jelier.impact')
impact.head()

,id,mut_id,ref_codon,alt_codon,pos_aa,ref_aa,alt_aa,gene,type,acc,...,foldx_evidence,foldx_int_ddG,foldx_int_ddG_sd,foldx_int_evidence,foldx_int_interactor,pho_prob,ptm_modification,tf_score_diff,tf_perc_diff,effect
0,YDR123C R237Q,NaN,NaN,NaN,237,R,Q,YDR123C,genomic,P26798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,YDR123C R273K,NaN,NaN,NaN,273,R,K,YDR123C,genomic,P26798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,YDR123C P275L,NaN,NaN,NaN,275,P,L,YDR123C,genomic,P26798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,YNR003C D171H,NaN,NaN,NaN,171,D,H,YNR003C,genomic,P32910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,YNR003C K135A,NaN,NaN,NaN,135,K,A,YNR003C,genomic,P32910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1